.loader {
  height: 5rem;
  width: 5rem;
  margin: auto;
  animation: spin 2s infinite linear;
  }

.page-layout {
    display: flex;
    flex-direction: column;
    .page-layout__content {
        flex: 1;
    }
}